  }

  .about-myself {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-top: 166px;
  }

  .about-para {
    margin-left: 70px;
  }

  .myself {
    margin-left: 70px;
  }

  .about-sub-head {
    margin-left: 70px;
  }

  .resume-btn {
    margin-left: -25%;
    margin-top: 67px;
  }

  #social-media {
    margin-left: 0;
    margin-top: 20px;
  }

  .list-language {
    display: flex;
    flex-direction: row;
  }

  .for-web {
    display: flex;
    align-items: center;
    width: 9rem;
    height: 7rem;
  }

  .for-web img {
    margin-bottom: 2.7rem;
    margin-left: 2.8rem;
  }

  .for-web p {
    margin-top: 4.3rem;
    margin-left: -4rem;
  }

  .language-heading img {
    display: flex;
    padding-left: 78%;
  }

  .first-title img {
    display: flex;
    padding-left: 78%;
  }

  .second-title img {
    display: flex;
    padding-left: 78%;
  }

  .form {
    width: 100%;
    top: 200px;
    background: #6070ff;
    background-image: url(contact-bg.png);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 846px;
    border-top-left-radius: 15%;
    margin-top: 10%;
  }

  .form-body {
    display: flex;
    justify-content: center;
    margin: 1px;
  }

  .ul_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
  }

  input {
    height: 48px;
    width: 447px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin-bottom: 18px;
  }

  textarea {
    height: 170px;
    width: 447px;
    bottom: 0;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin-top: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  .form p {
    width: 400px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    padding-bottom: 20px;
  }

  .form-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .form .form-header {
    padding-top: 80px;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    align-items: center;
  }

  .ul_form input {
    padding-left: 20px;
  }

  .ul_form textarea {
    padding-left: 20px;
  }

  .card-btn {
    transition: scale 1s ease-in-out;
  }

  .card-btn:hover {
    scale: 1.05;
  }

  .form-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    width: 142px;
    height: 48px;
    background: #fff;
    border-radius: 8px;
    margin-top: 3%;
    border: 0 cornsilk;
    margin-left: 9.2%;
  }

  .form-btn:hover {
    background-color: #041b56;
    color: #f7f7f9;
  }

  .line {
    margin: 18px 0;
    color: #868a8f;
    width: 80%;
  }
}
